# Ignoriraj VSCode postavke
.vscode/

# Ignoriraj izvršne datoteke (Windows)
*.exe

# Ignoriraj privremene i pomoćne tekstualne datoteke
*.txt
*.dat
*.log
*.lst

# Ignoriraj eventualne kompajlerske outpute
*.o
*.obj
*.out
*.bin

# Ignoriraj direktorije sa knjigama ili većim vanjskim materijalima
Books/